@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
}

.arrow-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #4564E5;
    border-radius: 0 4px 0 40px;

    .arrow {
        margin-top: -10px;
        margin-right: -10px;
        color: white;
    }
}

.card {
    display: block;
    position: relative;
    max-width: 400px;
    background-color: #4565e51a;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background-color: #4564E5;
        height: 40px;
        width: 46px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform .3s ease-out;
    }

    &:hover:before {
        transform: scale(21);
    }

    &:hover {
        h3 {
            transition: all .3s ease-out;
            color: #fff
        }

        p {
            transition: all .3s ease-out;
            color: #d8d8d8;
        }
    }
}